# {{ ansible_managed }}
[Unit]
Description=LibreOffice Online WebSocket Daemon for Collabora
After=network.target

[Service]
ExecStart=/usr/bin/loolwsd --version --o:sys_template_path=/opt/lool/systemplate --o:lo_template_path=/opt/collaboraoffice6.0 --o:child_root_path=/tmp/child-roots --o:file_server_root_path=/usr/share/loolwsd
AmbientCapabilities=CAP_SYS_CHROOT CAP_SYS_MKNOD CAP_MKNOD CAP_FOWNER
User=lool
KillMode=control-group
Restart=always

[Install]
WantedBy=multi-user.target
